/*  `body`
    * The background color is `#efeee7`.
    * The font used `"Georgia",Times New Roman,Times,serif;`.
    * The font color is `#333333`.
    * Be sure to zero out the body margins and padding so the page is flush to the top of the page:
      ```css
      body {
        margin: 0;
        padding: 0;
      }
      ```
  * `header`
    * The background color is `#333333`. done
  * `h1`
    * The font color is `#eee`. done
    * The font size is `28px`. done
    * Look at the example on the screen, and eyeball the padding and/or margins and positioning of the text.
  * `h2`
    * The font size is `24px` done
  * Make the container have a width of 1024 pixels, and center it. You do this using `margin: 0 auto;`.
  * Make `#main-bio`, `#contact-info`, `#bio-image` all `float: left`.
  * Make the `#bio-image` have a width of 200 pixels.
  * Be sure to include `alt` text in all images
  * `#main-bio` should have a width of `70%`.
    * Add margins to the image so there is distance between it and the bio text.
  * `#contact-info` should have a width of `30%`.
  * Adjust the line height so it is 1.5 times the size of the font.
  * Make the link color `#d21034`.
*/

body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#333333;

}

header {
   background-color: #333333;

}

h1 {
    color: #eee;
    font-size: 28px;
    padding: 20px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;

}

h2 {
    font-size: 24px;
    

}

a {
    color: #d21034;
    
}

.container {
    width: 1024px;
    margin: 0 auto;
    
}

#main-bio,
#contact-info,
#bio-image {
    float: left;

}

#bio-image {
    width: 200px;

}

#main-bio {
    width: 70%;

}

#bio-image {
    width: 200px;
    height: 200px;
    margin:20px;

}

#contact-info {
    width: 30%;
    line-height: 150%;

}




